
<div class = 'column is-one-quarter'>
column 1
<%= @name %>
</div>

<div class = 'column' >

<%= @blocks %>

column 2 
</div>

<div class = 'column is-one-quarter'>
column 3
<%= @content %>

</div>

