<div class = 'column is-half'>
    <div class = 'card is-centered'>
        <div class = 'card-header is-centered'>
            <p class = 'title is-4'>User: <%= @user.email %></p>
        </div>
        <div class = 'card-content'>
            <p class = 'content' >Content: <%#= @post.content %></p>
        </div>
        <div class = 'card-content'>
            <%#= pluralize(@post.likes.length, "like") %>
            <br />

            <%#= pluralize(@post.comments.length, "comment") %>
            
        </div>

            
    </div>
    <%#= render 'actions' %>
</div>
